#container {
	background-image: url('./pics/table_bg.png');
	background-color: #221918;
	width: 500px;
	height: 450px;
	border: red 10px solid;
	display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.row {
	/*border: blue 3px solid;*/
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.score {
	height: 60px;
	width: 60px;
	background-color: gray;
	border-radius: 3px;
	opacity: 0.6;
}
.on {
	background-color: green;
}
.selected {
	border: 5px green solid;
	border-radius: 90px;
}
.low-opacity {
	opacity: 0.4;
}

.comp-scores, .player-scores {
	gap: 10px;
}
.player-sign {
	gap: 15px;
	margin-top: 20px;
}
.player-sign img {
	width: 100px;
	height: 100px;
}
.signBox {
	height: 80px;
	width: 80px;
	border-radius: 4px;
	background-color: aqua;
}
.comp-sign img {
	width: 100px;
	height: 100px;
	margin-top: 40px;
}